.homeWrapper {
  display: flex;
  justify-content: space-between;
  min-height: 458px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.homeTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 80px;
  width: 100%;
}
.homeTitle_title {
  color: #3d4f5c;
  font-size: 85px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: -1.7px;
}
.homeTitle_description {
  color: #fb8958;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.24px;
}

.filledButton {
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  border-radius: 32.5px;
  background: #46b8c8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
