html * {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}
.pageWrapper {
  display: flex;
  flex-direction: column;
}

.pageWrapper > div:nth-child(odd) {
  background-color: #fbfafa;
  /* background-color: green; */
}
.pageWrapper > div:nth-child(even) {
  background-color: white;
  /* background-color: red; */
}
.pageWrapper > div:first-child {
  background-color: white;
}
